body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
table {
  width: 90%;
  text-align: center;
  margin: 2% auto;
}
.tasks-current th, .tasks-current td {
  border: 1px solid #999;
  padding: 1% 0;
}
h3 {
  text-align: center;
  padding-top: 20px;
}
button {
  outline: none;
  padding: 5px 10px;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
}
.btn_done {
  border: 1px solid deepskyblue;
  color: deepskyblue;
}
.btn_remove {
  border: 1px solid red;
  color: red
}
.btn_cancel {
  border: 1px solid grey;
  color: grey
}
.empty-info {
  text-align: center;
  padding: 30px 0;
}
.important {
  color: red;
}
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.modal-remove {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 20px #bbb;
  background-color: #fff;
  padding: 30px 60px;
  text-align: center;
}
.modal-remove p {
  margin-bottom: 20px;
}
.add-task {
  text-align: center;
}
.add-part {
  margin: 25px 0;
  position: relative;
}
input {
  margin: 0 10px;
  font-size: 14px;
  outline: none;
  padding: 0 10px;
  height: 35px;
}
input[type=text] {
  width: 300px;
}
input[type=checkbox] {
  height: initial;
}
input::placeholder {
  color: #000;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
.btn_add_task {
  margin-bottom: 20px;
  border: 1px solid deepskyblue;
  color: deepskyblue;
  padding: 8px 25px;
}
.validate_msg {
  color: red;
  position: absolute;
  left: 31%;
  top: calc(100% + 2px);
  font-size: 12px;
  display: none;
}
.validate #task {
  border: 1px solid red;
}
.validate .validate_msg {
  display: inline;
}